.logo{
    width : 200px;
    height:60px ;
    top: 548px;
    left: 149px;
    border-radius: 30px;
    padding: 5px , 26px ,5px , 26px;
    gap: 10px;
}
.img{
width: 499px;

Height:566px;

Top:119px;

Left:821px;
margin-left: 60%;
}